/build/
/bin/
/lib/
/dist/
/test-output/
/temp*
/.settings/
/nbproject/private/
/target/
.classpath
.project
.checkstyle
*.class
*.jar
*.war
*.ear
/*.launch
/*.dic

/src/*/
!/src/changes/
!/src/main/
!/src/site/
!/src/test/
