<settings>
    <profiles>
        <profile>
            <id>it-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>local.repo</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>github-mp1-appengine-repo</id>
                    <url>https://maven-repo-254709.appspot.com</url>
                </repository>
                <repository>
                    <id>vertispan-releases</id>
                    <name>Vertispan hosted artifacts-releases</name>
                    <url>https://repo.vertispan.com/j2cl</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>vertispan-gwt-snapshots</id>
                    <url>https://repo.vertispan.com/gwt-snapshot/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>google-sonatype-snapshots</id>
                    <url>https://oss.sonatype.org/content/repositories/google-snapshots/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </snapshots>
                </repository>

            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local.repo</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
